[client]
default-character-set = utf8mb4

[mysqld]
max_connections = 500
bind-address = 0.0.0.0
slow_query_log = ON
slow_query_log_file = /log/slow_query.log
long_query_time = 1
log_output = FILE
performance_schema = ON